<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
<h2>
    Company Home Page
</h2>
<hr>
<p>Welcome to company home page!</p>
<hr>
<p>
<!--    display username-->
    User: <span sec:authentication="principal.username"></span>
    <br><br>
<!--    display roles-->
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>
<hr>
<!--only show this to MANAGER role-->
<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leader}">Leadership Meeting</a>
        (Only for Manager)
    </p>
</div>

<!--only show this to ADMIN role-->
<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/system}">Admin Meeting</a>
        (Only for Admin)
    </p>
</div>
<hr>
<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>